.opcoespainel{
    display: flex;
    padding: 5.625rem 6.25rem;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2.5rem;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
}