.alunos-painel-interno{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2.5rem;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
}